body {
  font-family:Geneva, sans-serif ;
  background-color: #fef2e6 !important;
}

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 300px;
    padding: 10px;
    border: 2px solid #bc5148; ;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .btn-outline-success {
    border: 2px solid #b4eac0;
    color: rgb(21, 62, 31);
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn-outline-success:hover {
    background-color: #c5fbd2;
    color: #2a9b1d;
  }
  
  .table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    animation: fadeInUp 0.5s ease-in-out;
  }
  
  .table thead th {
    background-color: #bc5248bf;
    color: #fee4e4;
    text-align: left;
    font-weight: 500;
    font-size: medium;
  }
  
  .table tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .table tbody tr:hover {
    background-color: #e2a686;
    cursor: pointer;
  }
  
  .table a {
    color: #cc6f61fb;
    text-decoration: none;
    transition: color 0.3s;
    text-decoration: underline;
  }
  
  .table a:hover {
    color: #f70505;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 5cm;
    border-radius: 5cm;

  }
  
  .pagination .page-item {
    margin: 0 5px;
  }
  
  .pagination .page-item .page-link {
    color: #3e060c;
    border: 1px ;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pagination .page-item .page-link:hover {
    background-color: #7bcecc;
    color: #fff;
  }
  
  .pagination .page-item.active .page-link {
    background-color: #3090a1;
    border-color: #ffffff;
    color: #fff;
  }
  


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


