body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 2.5em;
}

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.5rem;
  color: #343a40;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-color: #343a40;
}

.navbar-nav .nav-link {
  color: #343a40;
  font-weight: 3000;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #bb0c0c;
}

.navbar-nav .dropdown-menu {
  background-color: #f8f9fa;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-nav .dropdown-item {
  color: #343a40;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-nav .dropdown-item:hover {
  background-color: #9a2a2aaa;
  color: #fff;
}

.dropdown-divider {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}




  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 300px;
    padding: 10px;
    border: 2px solid #6c0c0c;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .btn-outline-success {
    border: 2px solid #b4eac0;
    color: rgb(21, 62, 31);
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn-outline-success:hover {
    background-color: #c5fbd2;
    color: #2a9b1d;
  }
  
  .table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    animation: fadeInUp 0.5s ease-in-out;
  }
  
  .table thead th {
    background-color: #b41200;
    color: #fff;
    text-align: left;
    padding: 10px;
  }
  
  .table tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .table a {
    color: #a20000;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .table a:hover {
    color: #ff7d7d;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 5cm;
    border-radius: 5cm;

  }
  
  .pagination .page-item {
    margin: 0 5px;
  }
  
  .pagination .page-item .page-link {
    color: #3e060c;
    border: 1px solid #dc3545;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pagination .page-item .page-link:hover {
    background-color: #90000e;
    color: #fff;
  }
  
  .pagination .page-item.active .page-link {
    background-color: #8a000ed0;
    border-color: #dc3545;
    color: #fff;
  }
  


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

