.lap-time-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 25px;
  }
  
  .lap-time-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #343a40;
  }
  
  .lap-time-form {
    margin-bottom: 20px;
  }

  
  .lap-time-form .form-group {
    margin-bottom: 1rem;
  }
  
  .lap-time-form .form-label {
    color: #495057;
  }
  
  .lap-time-form .form-control {
    border-radius: 4px;
    padding: 10px;
  }
  
  .lap-time-form .btn-primary {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    transition:  0.3s ease;
  }
  .lap-time-form .btn-primary {
    background-color: #b41200;
    border-color: #300c0c;
  }
  .lap-time-form .btn-primary:hover {
    background-color: #851b0190;
  }
  
  .race-info {
    margin-top: 20px;
    padding: 15px;
    background-color: #e9ecef;
    border-radius: 8px;
  }
  
  .race-info h3 {
    margin-bottom: 15px;
    color: #343a40;
  }
  
  .race-info p {
    margin-bottom: 8px;
    color: #495057;
  }
  

  